---
//Component for displaying and styling individual plant items
const { plant } = Astro.props;                                  // Destructure plants prop                     
---

<span class="plant-card">
    <div class="upper-card">
        <h3>{plant.name}</h3>                                   {/* Display plant name */}
        <h4>{plant.botanical_name}</h4>                         {/* Display plant botanical name */}
    </div>                               
    
    <div class="lower-card">
        <p>{plant.notes}</p>                                    {/* Display plant notes */}
        <p>Last watered on: {plant.last_watered ? String(plant.last_watered).slice(0, 10) : "Not watered yet!"}</p>
    </div>

    <div class="card-controls">
        <span class="btn delete-button" data-id={plant.id}>Delete</span> 
        <span class="btn water-button" data-id={plant.id}>Water</span>
    </div>
</span>

<span class="water-indicator">
    <span class="water-level" data-id={plant.id} data-waterlevel={plant.water_level}></span>
</span>