---
import ColorPicker from "./ColorPicker.astro";
import MonthPicker from "./MonthPicker.astro";

const { plant } = Astro.props;                             // Destructure plant prop from props object
---
<div class="settings-container">
    <div class="settings-header">
        <h3>Settings</h3>
        <div class="settings-buttons">
            <button class="btn back-button" data-id={plant.id} aria-label="Close settings page">
                <i class="fas fa-arrow-left"></i>
            </button>
            <button class="btn delete-button" data-id={plant.id} aria-label="Delete plant">
                <i class="fas fa-trash"></i>
            </button>
        </div>
    </div>

    <div class="settings-forms">
        <form id="settings-form" data-id={plant.id}>
            <input 
                type="text" 
                name="name" 
                value={plant.name} 
                placeholder="Plant Name" 
                required 
            />
            <input
                type="text"
                name="botanical_name"
                value={plant.botanical_name || ''}
                placeholder="Botanical name (Optional)"
            />
            <select name="watering_frequency">
                <option value="1" selected={plant.watering_frequency === 1}>DEBUG(1 hour)</option>
                <option value="24" selected={plant.watering_frequency === 24}>1 Day</option>
                <option value="48" selected={plant.watering_frequency === 48}>2 Days</option>
                <option value="168" selected={plant.watering_frequency === 168}>7 Days</option>
                <option value="336" selected={plant.watering_frequency === 336}>14 Days</option>
                <option value="672" selected={plant.watering_frequency === 672}>30 Days</option>
            </select>
            <textarea 
                name="notes" 
                placeholder="Notes (optional)" 
                rows="2"
            >{plant.notes}</textarea>

            <div class="form-group">
                <div class="month-selector">
                    {["Jan","Feb","Mar","Apr","May","Jun",
                      "Jul","Aug","Sep","Oct","Nov","Dec"]
                        .map(month => (
                            <label class="month-toggle">
                                <input
                                    type="checkbox"
                                    name="harvest_months"
                                    value={month.toUpperCase()}
                                    class="month-checkbox"
                                    checked={plant.harvest_months?.includes(month.toUpperCase())}
                                />
                                <span class="month-label">{month}</span>
                            </label>
                    ))}
                </div>
            </div>

            <div class="form-group">
                <div class="color-selector">
                    {Object.entries({
                        Red: "#ff4444",
                        Orange: "#F98234",
                        Yellow: "#ffdd44",
                        Green: "#7f9261",
                        Blue: "#44aaff",
                        Purple: "#aa44ff"
                    }).map(([color, hex]) => (
                        <label class="color-toggle">
                            <input
                                type="radio"
                                name="base_color"
                                value={hex}
                                class="color-checkbox"
                                checked={plant.base_color === hex}
                            />
                            <span class="color-label color-label-sm" style={`background-color: ${hex}`}></span>
                        </label>
                    ))}
                </div>
            </div>
        </form>
    </div>

</div>